* {
  min-width: 0;
  min-height: 0;
}

:root {
  --color-bg: #18191a;
  --color-bg-variant: #1c1e21;
  --color-primary: #0866ff;
  --color-primary-variant: #b0b3b8;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --swiper-theme-color: white !important;
}
body {
  background-color: var(--color-bg);
  background-image: url(../src/assets/bg-texture.png);
  background-blend-mode: color-burn;
}
.br {
  border: 1px solid red;
}
